:root {
    --main-bg-color: #FCE4DE;
    --accent-bg-color: #f9d3c9;
    --text-color: #000000;
    --banner-min-size: 20%;
    --banner-max-size: 50%;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--accent-bg-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Header & footer elements */
.bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0.5rem;
}

.bar-left {
    justify-content: flex-start;
}

.bar-center {
    justify-content: center;
}

.centered {
    text-align: center;
}

.bar-right {
    justify-content: flex-end;
}

/* Header */
header {
    background-color: var(--accent-bg-color);
}

#banner {
    transition: 0.2s;
    width: var(--banner-max-size);
}

/* Footer */
footer {
    background-color: var(--main-bg-color);
    border-radius: 0 0 0.5rem 0.5rem;
}

footer .bar-section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer-image {
    margin-left: 0.5rem;
    height: 3rem;
}

.secondary-footer {
    background-color: var(--accent-bg-color);
    height: 1rem;
    min-height: 1rem;
}

/* Main */
main {
    background-color: var(--main-bg-color);
    padding: 0.5rem;
    flex-basis: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem 0.5rem 0 0;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: square;
    padding: 0.5rem;
    padding-left: 1.5rem;
}

.heading {
    font-size: larger;
    font-weight: bold;
    /* font-family: 'Times New Roman', Times, serif; */
}

.para {
    padding: 0.5rem;
}

.centered-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.centered-img {
    width: 50%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    justify-content: space-evenly;
    width: 100%;
}


.gallery .img-div {
    flex-basis: 16%;
    margin-right: 0.5%;
    display: flex;
    margin-bottom: 0.5%;
}

@media screen and (max-width:900px) {
    .gallery .img-div {
        flex-basis: 32%;
    }
}

@media screen and (max-width:400px) {
    .gallery .img-div {
        flex-basis: 49%;
    }
}

.gallery .img-div img {
    width: 100%;
}

/* Icons */
.contains-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.arrow-right {
    border: solid black;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.25rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.3rem;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}